html, body {
    background-color: #05262e;
}

.chess-board-coordinate {
    color: #839496;
    font-family: sans-serif;
}

.chess-board-tile-white {
    background-color: #839496;
}

.chess-board-tile-white.chess-board-tile-highlighted {
    background-color: #9bafb1;
}

.chess-board-tile-white.chess-board-tile-selected::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #b58900;
}

.chess-board-tile-black {
    background-color: #586e75;
}

.chess-board-tile-black.chess-board-tile-highlighted {
    background-color: #405157;
}

.chess-board-tile-black.chess-board-tile-selected::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #b58900;
}

.chess-piece-white {
    color: #eee8d5;
}

.chess-piece-black {
    color: #002b36;
}
